body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #f8f8f8;
	margin:0; padding: 0;
    
}

h1 {
	font-size: 50px;
	margin-top: 20px;
    color: white;
    margin: auto 30%;
    
}

h3, .descarga   {
    font-size: 20px;
    color: white;
    margin: 1% 30%;
}

h4 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
hr {
	border-style: none;
	border-top-style: dotted;
	border-color: red;
	border-width: 5px;
	width: 5%;
  
  }
.msg {
    font-size: 60px;
    color: red;
}

.intro {
	font-size: 30px;
	color: red;
}



.phone{
    width: 20%;
    position: absolute;
    margin: -15% 5%;
    
    
}
.container1 {
	
	padding: 20px;
	background-color: black;
   
	
}

.container2{
    padding: 20px; 
    margin: 1% 30%;
}

p {
    color: #f8f8f8;
    margin: auto 30%;
    
}

.parrafo2 {
    color: black;
    margin: 1% 0 6%;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="number"],
textarea {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	resize: none;
}

button {
	padding: 10px;
	background-color: black;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

button:hover {
	background-color: #800000;
}

.title {
	font-size: 120%;
	
}